
.main {
  position: relative;
  z-index: 2;
}

.mainWrapper {
  position: relative;
  padding-top: 24vh;
  padding-bottom: 11vw;
  font-size: 25px;
}

.hasPoster .mainWrapper {
  padding-top: 50vh;
}

.mainWrapperInner {
  font-size: 70px;
  font-weight: $font_weight;
  line-height: $line_height;
}

@media screen and (max-width: 768px) {
  .mainWrapperInner {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .mainWrapperInner {
    font-size: 28px;
  }
}
