@font-face {
  font-family: "Geomanist";
  src: url("./Geomanist-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  src: url("./Geomanist-Book.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  src: url("./Geomanist-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  src: url("./Geomanist-Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  src: url("./Geomanist-Ultra.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
