
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.subnav {
  position: fixed;
  z-index: 10;
  top: 20vh;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.subnavWrapper {
  position: relative;
  left: 2px;
}

@media screen and (max-width: 1200px) {
  .subnavWrapper {
    left: 3px;
  }
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 26px;
  height: 80px;
  pointer-events: auto;
}

.nextLink {
  left: -4px;
}

.prevLink {
  top: 40px;
}

.link .line {
  pointer-events: auto;
}

@media screen and (max-width: 800px) {
  .link {
    display: none !important;
  }
}

:global(.template-contact) {
  text-align: center;
}

:global(.template-collection) h1 {
  color: $color_active;
  text-transform: uppercase;
}

:global(.columns) {
  column-gap: 10px;
}

:global(.columns) img {
  margin-top: 0;
  display: block;
}

:global(.columns.two) {
  columns: 2;
}

:global(.columns.three) {
  columns: 3;
}

:global(.columns.four) {
  columns: 4;
}

:global(.columns.five) {
  columns: 5;
}

@media screen and (max-width: 700px) {
  :global(.columns.two),
  :global(.columns.three) {
    columns: 1;
  }

  :global(.columns.four) {
    columns: 2;
  }

  :global(.columns) img {
    margin-top: 0.5em;
  }
}

:global(iframe) {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  height: 50vh;
}
