
.footer {
  position: relative;
}

.hasFooterLine {
  margin-top: -1em;
}

.text {
}

.footer .nav {
  position: relative;
  text-align: left;
}

.footer nav li {
  display: inline-block;
  float: none;
}
