
.pageEnter,
.pageAppear {
  z-index: 3;
  opacity: 0;
  -webkit-filter: blur(8px) saturate(0%);
}

.pageEnterActive,
.pageAppearActive {
  opacity: 1;
  -webkit-filter: blur(0px) saturate(100%);
}

.pageAppearActive {
  transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-filter 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 250ms;
}

.pageEnterActive {
  transition: opacity 200ms ease-out-quad, -webkit-filter 200ms ease-out-quad;
  transition-delay: 400ms;
}

.pageLeave {
  opacity: 1;
  z-index: 2;
}

.pageLeaveActive {
  opacity: 0;
  -webkit-filter: blur(8px) saturate(0%);
  transition: opacity 200ms ease-in-quad, -webkit-filter 200ms ease-in-quad;
  transition-delay: 100ms;
}
