
::-moz-selection {
  background: $color_active;
  color: $color_main;
  text-shadow: none;
}

::selection {
  background: $color_active;
  color: $color_main;
  text-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: $h1_font_size;
  font-weight: $h1_font_weight;
  margin-top: $h1_font_spacing;
}

h2 {
  font-size: $h2_font_size;
  font-weight: $h2_font_weight;
  margin-top: $h2_font_spacing;
}

h3 {
  font-size: $h3_font_size;
  font-weight: $h3_font_weight;
  margin-top: $h3_font_spacing;
}

h4 {
  font-size: $h4_font_size;
  font-weight: $h4_font_weight;
  margin-top: $h4_font_spacing;
}

h5 {
  font-size: $h5_font_size;
  font-weight: $h5_font_weight;
  margin-top: $h5_font_spacing;
}

h6 {
  font-size: $h6_font_size;
  font-weight: $h6_font_weight;
  margin-top: $h6_font_spacing;
}

strong,
b {
  font-weight: $strong_font_weight;
  color: $strong_color;
}

em,
i {
  font-size: 0.5em;
  font-style: normal;
}

li {
  margin: 0 !important;
}

ul ul {
  margin-top: 0;
  margin-bottom: 1.1em;
}

p em {
  display: block;
  line-height: $line_height;
  margin-top: 0.2em !important;
  margin-bottom: 0.2em !important;
}

a {
  color: $color_main;
  text-decoration: none;
  transition: color 170ms ease, background 170ms ease;
}

a:hover {
  color: $color_active;
}

:global(body.inverse) a {
  color: $background_main;
}

:global(body.inverse) a:hover {
  color: $color_active;
}
